:root{
    --primary_color: orangered;
}

* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
    font-size: 2vw;
   
}

body {
    background-color: rgb(155, 62, 152);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.start_game{
    position: absolute;
    top: 3vh;
    font-weight: 1000;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: 5vw;
    border: 5px solid black;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    animation: border-effect 3s linear infinite;
    box-shadow: 0px 0px 100px orangered inset;
}

.hidden-audio {
      position: absolute;
      bottom: -100px; /* Move it off-screen */
      width: 1px;
      height: 1px;
      opacity: 0;
      pointer-events: none;
    }
.start_game:hover{
    background-color: var(--primary_color);
    outline-offset: 3px;
    outline: 2px solid var(--primary_color);
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../index_images/ai-generated-8133333_640.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    width: 100%;
    height: 100%;
}
.game_playground{
    display: flex;
    justify-content: space-around;
    height: 80vh;
    width: 90vw;
    gap: 5vw;
    box-shadow: 0px 0px 100px #88128c;
}
.players_containers{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    min-width: 20vw;
   
}

.score_board{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(12, 2, 22, 0.77);
    border: 1px solid transparent;
    text-align: center;
    border-radius: 7%;
    justify-content: space-between;
    gap: 5%;
}

.individual_game_container, .final_score_container{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    border-left: 2px solid var(--primary_color);
    border-right: 2px solid var(--primary_color);
    flex: 2;
    color: var(--primary_color);
    padding: 10px;
}
.textBox{
    width: 80%;
    height: auto;
    text-align: center;
    font-size: 2rem;
}
.instructions_container{
    flex:0.3;
    text-align: center;
    border-bottom: 3px solid orangered;
    border-top: 3px solid orangered;
    color: rgb(181, 7, 181);
    font-size: 1.5rem;
    text-align: center;
}
.computers,.player1{
    width: 10vw;
    height:10vw;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.825);
    padding-inline: 5px;
    color: white;
    font-family:fantasy;
    text-transform: lowercase;
    font-weight: 700;
    box-shadow: 0px 0px 20px 25px orangered,
     0px 0px 70px 15px rgb(97, 4, 88); 
    outline: 4px dotted black;
    outline-offset: 10px;}

.computers:hover, .player1:hover, .hover-effect{
    background-color: rgb(94, 6, 76);
    border-top:  5px solid rgb(190, 235, 8);
    border-bottom:  5px solid rgb(190, 235, 8);
    box-shadow: 0px 0px 20px 25px orangered,
     0px 0px 70px 15px rgb(97, 4, 88), 0px 0px 90px 25px black; 
    transform: scale(1.02,1.02);
    text-transform: uppercase;
    color: rgb(234, 0, 255);
    
}

@keyframes border-effect{
    0%{ border-color: rgba(0, 0, 0, 0.226);}
    20%{border-left-color: orangered}
    40%{border-left-color: rgba(0, 0, 0, 0.031);border-top-color: orangered}
    60%{border-top-color: rgba(0, 0, 0, 0.427);border-right-color: orangered}
    80%{border-right-color: rgba(0, 0, 0, 0.184);border-bottom-color: orangered}
    100%{border-bottom-color: rgba(0, 0, 0, 0.306)}

}